*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(135deg,#0f172a,#1e293b,#2563eb);
    overflow:hidden;
}

.container{
    text-align:center;

    animation:fadeIn 1.5s ease;
}

h1{
    color:white;
    font-size:70px;
    margin-bottom:25px;
}

p{
    color:white;
    font-size:24px;
    margin-bottom:40px;
}

button{

    padding:18px 50px;

    font-size:24px;

    border:none;

    border-radius:14px;

    background:#00d26a;

    color:white;

    cursor:pointer;

    transition:0.3s;
}

button:hover{

    transform:scale(1.08);

    background:#00ff84;

    box-shadow:0 0 30px #00ff84;

}

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(40px);
}

to{
opacity:1;
transform:translateY(0);
}

}
